.active {
    background: #fbfb09;
    font-weight: 600;
    /* text-transform: uppercase; */
}

a:hover {
    /* color: #EB8019 !important; */
    color: black !important;
}

* {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 500;
}